{% extends "layout.html" %}
{% block body %}
<div class="header" style="height: 120px; background-color: #305fe8;">
    <!-- <img src="{{ url_for('static', filename='images/blob.svg') }}" alt="" class="img-fluid blob"> -->
    
</div>

<div class="text-center mt-4 pt-4" style="color: black;">
    <div class="container px-0">
        <div class="row">
            {% include "includes/_sidebar.html" %}
            
            <div class="col-md-9 order-md-2">
                <h5 class="">Nilai Pixel</h5>
                <h6>Width: {{ width }}</h6>
                <h6>Height: {{ height }}</h6>
                <div class="row" style="margin-bottom: 20px; padding-left: 20px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                {% if is_color %}
                                    <th scope="col">R</th>
                                    <th scope="col">G</th>
                                    <th scope="col">B</th>
                                {% else %}
                                    <th scope="col">Grayscale</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for pixel in pixel_values %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    {% if is_color %}
                                        <td>{{ pixel[0][0] }}</td>
                                        <td>{{ pixel[0][1] }}</td>
                                        <td>{{ pixel[0][2] }}</td>
                                    {% else %}
                                        <td>{{ pixel[0][0] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
    </div>
</div>

{% endblock %}
