{% extends "layout.html" %}

{% block body %}	
<div class="header" style="height: 120px; background-color: #305fe8;">
    <!-- <img src="{{ url_for('static', filename='images/blob.svg') }}" alt="" class="img-fluid blob"> -->
    
</div>

<div class="text-center mt-4 pt-4" style="color: black;">
    <div class="container px-0">
        <div class="row">
            <div class="col-md-8 order-md-2">
                <div class="random-generate"></div>
            </div>

            <div class="col-md-4 order-md-1" style="max-height: 80vh; overflow-y: auto; padding-right: 30px;">
                <h3 style="font-weight: bold;">Menu</h3>
                <!-- Tombol tutup -->
                <!-- <button class="btn btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#sideMenu" aria-expanded="false" aria-controls="sideMenu">
                    Tutup
                </button> -->
                
                <!-- <h3 style="font-weight: bold;">Menu</h3> -->
                <div class="collapse d-md-block" id="sideMenu">
                <hr/>
                <h5>Puzzle Gambar</h5>
                <div class="row" style="margin-bottom: 20px;">
                    <form id="" action="{{ url_for('divide_image') }}" method="POST" enctype="multipart/form-data">
                        <input type="number" name="num_puzzles" placeholder="1-10" min="1" max="10" style="width: 50%; height: 45px; padding-left: 10px;" required>                            
                        <button type="submit" class="btn btn-primary btn-block" style="width: 47%;">Puzzle</button>   
                    </form>
                </div>
                <div class="row">
                    <form id="" action="{{ url_for('random_image') }}" method="POST" enctype="multipart/form-data">
                        <input type="number" name="num_puzzles" placeholder="1-10" min="1" max="10" style="width: 50%; height: 50px; padding-left: 10px;" required>                            
                        <button type="submit" class="btn btn-primary btn-block" style="width: 47%;">Random</button>
                    </form>
                </div>
                <hr/>
                <h5>Nilai Pixel</h5>
                <div class="row" style="margin-bottom: 20px;">
                    <form id="showImageValuesForm" action="{{ url_for('show_image_values') }}" method="POST" enctype="multipart/form-data">                          
                        <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Nilai Pixel</button>   
                    </form>
                </div>
                <hr>
                <h5>Normal</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 bd-highlight">
                            <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Normal</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Grayscale</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 bd-highlight">
                            <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Zoom In</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Zoom Out</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <h5>Pergeseran</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Kiri</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Kanan</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Atas</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Bawah</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Penerangan</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Terang (*)</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_division') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Gelap (/)</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_addition') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Terang (+)</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_substraction') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Gelap (-)</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Analisis Gambar</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Histogram</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Pemrosesan Gambar</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Histogram Equalizer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Filter Gambar</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Edge Detection</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Blur</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Sharpening</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Segmentation</h5>
                <form id="" action="{{ url_for('thresholding') }}" method="POST" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-2 flex-fill bd-highlight">
                                <h6>Batas Bawah</h6>
                                <input type="number" name="lower_thres" placeholder="0-255" style="width: 100%;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-2 flex-fill bd-highlight">
                                <h6>Batas Atas</h6>
                                <input type="number" name="upper_thres" placeholder="0-255" style="width: 100%;">                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-2 flex-fill bd-highlight">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Thresholding</button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>
                
                <!-- </div> -->
                
            </div>
            
        </div>
    </div>
</div>

<script>
    // List of image paths
    var image_paths = [
        {% for image_path in image_paths %}
            "{{ image_path }}",
        {% endfor %}
    ];

    // Shuffle Function (Fisher-Yates Algorithm)
    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }

    document.addEventListener("DOMContentLoaded", function() {
        var container = document.createElement('div');
        container.classList.add('container', 'mt-4');

        var rows = {{ rows }};
        var cols = {{ cols }};
        var shuffled_paths = shuffleArray(image_paths.slice()); // Copy the array to avoid affecting the original

        // Update the DOM with shuffled images
        for (var i = 0; i < rows; i++) {
            var row = document.createElement('div');
            row.classList.add('row');

            for (var j = 0; j < cols; j++) {
                var col = document.createElement('div');
                col.classList.add('col');

                // Calculate the index
                var index = i * cols + j;

                // Check if index is within bounds
                if (index < shuffled_paths.length) {
                    var image_path = shuffled_paths[index];

                    col.innerHTML = `
                        <img src="${image_path}" alt="Divided Image (Index ${index})" class="img-fluid" style="width: 100%; margin-bottom: 20px">
                    `;
                }

                row.appendChild(col);
            }

            container.appendChild(row);
        }

        // Insert the container after the site nav
        var siteNav = document.querySelector('.random-generate');
        siteNav.insertAdjacentElement('afterend', container);
    });
</script>

{% endblock %}